{% extends 'base.html' %}

{% block title %}Index{% endblock %}
{% block content %}
<h1>Welcome to my website!</h1> 
<button type="submit"><a href="{{url_for('login')}}">Sign in</a></button>
<button type="submit"><a href="{{url_for('register')}}">Sign up</a></button>
<img src="{{ url_for('download_file', name='linchik.jpg') }}" alt="" height="200px" width="200px">

<hr>
    {% for post in posts %}
    {% if post.user.avatar %}<h2><img src="{{ url_for('download_file', name=post.user.avatar) }}" alt="" height="90px" width="90px" class="avatar" >{{ post.user.username }}</h2>{% endif %}
    <h4>{{ post.title }}</h4>
    <p>{{ post.text }}</p>
    {% if post.image %}<img src="{{ url_for('download_file', name=post.image) }}" alt="" height="350px" width="300px" class="image">{% endif %}
    <h6>
      <button type="submit"><a href="{{url_for('edit', id=post.id)}}">Edit post</a></button>
      <form action="{{url_for('delete', id=post.id)}}" method="post">
        <button type="submit">Delete</button>
      </form>
    </h6>
    <h7>Comments</h7>
    {% for comment in comments %}
      {% if comment.post == post.id %}

      <div>{% if comment.user.avatar %}<h2><img src="{{ url_for('download_file', name=comment.user.avatar) }}" alt="" height="30px" width="30px" class="avatar" ></h2>{% endif %}
          <h4>{{ comment.title }}</h4>{{ comment.user.username }} : {{ comment.text }}</div>
          {% if comment.image %}<img src="{{ url_for('download_file', name=comment.image) }}" alt="" height="100px" width="100px">{% endif %}
      {% endif %}
    {% endfor %}
<form method="post" action="{{ url_for('comment', id=post.id) }}" enctype="multipart/form-data">
      <input type="text" name="title" value="your title" minlength="6">
      <textarea name="text" rows="10" cols="30"></textarea>
      <input type=file name=file>
      <button type="submit" style="background-color: blue; color: white;">Comment</button>
    </form>
    <hr>

    {% endfor %}
    <form method="post" action="{{ url_for('create') }}" enctype="multipart/form-data">
      <input type="text" name="title" value="your title" minlength="8">
      <textarea name="text" rows="10" cols="40"></textarea>
      <input type=file name=file>
      <button type="submit" style="background-color: red; color: white;">Post</button>
    </form>
{% endblock %}